<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <meta charset="utf-8">
  <title>Cryptocurrency Pricing Application</title>
</head>

  <body>
    <div class="container" id="app">
      <h3 class="text-center">Cryptocurrency Pricing</h3>
      <div class="columns medium-4" >
        <div class="card">
          <div class="card-section">
            <p> BTC in USD  </p>
          </div>
          <div class="card-divider">
            <p>{{ results }}</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script  language="JavaScript">

    const url = "http://127.0.0.1:8000/getProducts";

    const vm = new Vue({
            el: '#app',
            data: {
              results: []
            },
            mounted() {
              axios.get(url).then(response => {
                this.results = response.data
              }).catch(function (error) {
                // handle error
                console.log(error);
              })
            }
      });
    </script>
  </body>
</html>
